@import url('https://fonts.googleapis.com/css?family=Lato:400');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Josefin Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    font-size: 5px;
}

html, body {
    width: 100%;
    height: 100%;
    background: blanchedalmond;
}

.u-center-text {text-align: center !important;}
.u-margin-bottom-big {margin-bottom: 8rem !important;}
.u-margin-bottom-small{ margin-bottom: 1.5rem !important;}
.u-margin-bottom-medium{ margin-bottom: 4rem !important;}
.u-margin-top-big {margin-top: 8rem !important;}
.u-margin-top-huge {margin-top: 10rem !important;}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem; 
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; 
}

/* @media (max-width: 37.5em) {
    .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; 
    
    } 
    } */


.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* margin-bottom: 50px; */
    animation: moveInRight 1s ease-out; 
}

/* @media (max-width: 37.5em) {
    .heading-primary--sub {
        letter-spacing: .5rem; 
    } 
} */
  
.heading-secondary {
	font-size: 10rem;
	font-weight: 400;
	background-image: linear-gradient(to right, #7ed56f, #28b485);
	display: inline-block;
	-webkit-background-clip: text;
	background-clip: text;
	color: #000;
	letter-spacing: .2rem;
	transition: all .2s; 
	font-family: Great Vibes;
}



/* CARD STYLES */

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 65rem;
    margin: 4rem;
    width: 60rem;
    font-weight: 900; 
}

.card__side {
    font-size: 2rem;
    height: 36rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); 
}

.card__side--front {
background-color: #fff; 
}

.card__side--back {
transform: rotateY(180deg); 
}

.card__side--back-1 {
    background-image: linear-gradient(to right,rgba(89,9,135,0.6), rgba(89,9,135,0.6));
}



.card:hover .card__side--front {
    transform: rotateY(-180deg); 
}

.card:hover .card__side--back {
    transform: rotateY(0); 
}

.card__picture {
    background-size: cover;
    height: 48rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; 
    margin-bottom: 30px;
}

.card__picture--1 {
	background-image: linear-gradient(to right,rgba(89,9,135,0.6), rgba(89,9,135,0.3	));
background-image: linear-gradient(to right,rgba(89,9,135,0.6), rgba(89,9,135,0.3	)), url(../images/drama.jpeg); 
}

.card__picture--2 {
background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/natti.jpg);
}

.card__picture--3 {
background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/port2.jpg); 
}

.card__picture--4 {
    background-image: linear-gradient(to right bottom, #eb87e6, #dd05d2), url(../images/port3.jpg); 
}

.card__picture--5 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/port4.jpg); 
}

.card__picture--6 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/port5.jpg); 
}

.card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #000; 
    text-align: center;
    font-family: JOsefin Sans;
    font-size: 5rem;
}

.card__heading-span {
    padding: 1.1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; 
}

.card__heading-span--1 {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }

.card__heading-span--2 {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }

.card__heading-span--3 {
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__heading-span--4 {
    background-image: linear-gradient(to right bottom, rgba(215, 160, 229, 0.85), rgb(207, 92, 237, 0.85));
}

.card__heading-span--5 {
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__details {
    padding: 7rem 3rem; 
    font-size: 13	px;
}

.card__cta {
    position: absolute;
    text-align: left;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.card__cta ul
{
	list-style: none;
	font-family: Josefin Sans;
}
.card__cta ul li{
	font-size: 5rem;
}
/*.card__price-box {
    margin-bottom: 8rem;
    color: #fff; 
}

.card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; 
}
.card__price-value {
    font-size: 6rem;
    font-weight: 100; 
}*/


/* popup styles */
/*
.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    overflow: hidden;
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; 
}
.popup__left {
    width: 33.3333333%;
    display: table-cell; 
}
.popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: top;
    padding: 1rem 5rem; 
}
.popup__img {
    display: block;
    width: 100%; 
}
.popup__text {
    font-size: 3rem;
    margin-bottom: 1rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; 
}
.popup:target {
    opacity: 1;
    visibility: visible; 
}
.popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); 
}
.popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; 
}
.popup__close:hover {
    color: #7ed56f; 
}

.popup__list ul {
    list-style: none;
    width: 80%;
    margin: 3rem  auto;
}

.popup__list ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 700;
}

.popup__list ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
  */